body {
    font-family: sans-serif;
    text-align: center;
    padding-top: 50px;
}

.face {
    width: 200px;
    height: 200px;
    background: #ffd89b;
    border-radius: 50%;
    margin: auto;
    position: relative;
    box-shadow: 0 0 10px #aaa;
}

.eyes {
    display: flex;
    justify-content: space-around;
    padding: 40px 50px 0;
}

.eye {
    width: 20px;
    height: 20px;
    background: #000;
    border-radius: 50%;
}

.mouth {
    width: 100px;
    height: 50px;
    margin: 30px auto;
    border-bottom: 5px solid black;
    transition: all 0.3s ease;
}

.happy {
    border-bottom: 5px solid black;
    border-radius: 0 0 50px 50px;
    transform: rotate(0deg);
}

.sad {
    border-top: 5px solid black;
    border-bottom: none;
    border-radius: 50px 50px 0 0;
    transform: rotate(0deg);
}